In [83]:
import pandas as pd
import geopandas as geopd
import process_stops as ps
import os

In [84]:
stops = geopd.read_file("/home/data/results/stop_features_v3.geojson")

In [85]:
stops.drop("id", 1)

/home/canyon/.local/share/virtualenvs/TOP-Sprint-lAvM2-mU/lib64/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,CFLD_AFREQ,CFLD_EALB,CFLD_damage_quantile,CFLD_freq_quantile,GEOID_2010,GEOID_2020,GEOID_x,GEOID_y,SVI_SES,SVI_household,...,risk_category,risk_score,route_type,routes_serviced_str,stop_id,stop_lat,stop_lon,stop_name,worker_vulnerability_cat,geometry
0,4.43192,83.917602,0,2,36061029700,36061029700,36061029700,36061029700,3.188299,2.828709,...,0,1.000000,Bus,"['M100', 'BX7', 'BX20']",404028,40.871953,-73.913137,BROADWAY/W 219 ST,2,POINT (-73.91314 40.87195)
1,4.43192,83.917602,0,2,36061029700,36061029700,36061029700,36061029700,3.188299,2.828709,...,0,1.000000,Bus,['BXM1'],404028,40.871953,-73.913137,BROADWAY/W 219 ST,2,POINT (-73.91314 40.87195)
2,4.43192,83.917602,0,2,36061029700,36061029700,36061029700,36061029700,3.202158,2.834498,...,0,1.000000,Bus,"['M100', 'BX7', 'BX20']",404028,40.871953,-73.913137,BROADWAY/W 219 ST,2,POINT (-73.91314 40.87195)
3,4.43192,83.917602,0,2,36061029700,36061029700,36061029700,36061029700,3.202158,2.834498,...,0,1.000000,Bus,['BXM1'],404028,40.871953,-73.913137,BROADWAY/W 219 ST,2,POINT (-73.91314 40.87195)
4,4.43192,83.917602,0,2,36061029700,36061029700,36061029700,36061029700,3.188299,2.828709,...,0,1.000000,Bus,"['M100', 'BX7', 'BX20']",404028,40.871953,-73.913137,BROADWAY/W 219 ST,2,POINT (-73.91314 40.87195)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36471,4.44192,2111.854439,1,2,51199050500,51199050500,51199050500,51199050500,2.212493,2.447827,...,1,1.533411,Bus,['15221'],2576874,37.23274,-76.54599,Old Williamsburg Rd at Rising Sun OB,0,POINT (-76.54599 37.23274)
36472,4.44192,2111.854439,1,2,51199050500,51199050500,51199050500,51199050500,2.197081,2.446495,...,1,1.533411,Bus,['15221'],2576873,37.23425,-76.53737,Old Williamsburg Rd at Woods of Yorktown,0,POINT (-76.53737 37.23425)
36473,4.44192,2111.854439,1,2,51199050500,51199050500,51199050500,51199050500,2.195819,2.446385,...,1,1.533411,Bus,['15221'],2576885,37.22678,-76.51867,Barham Blvd at Rivermeade,0,POINT (-76.51867 37.22678)
36474,4.44192,2111.854439,1,2,51199050500,51199050500,51199050500,51199050500,2.195819,2.446385,...,1,1.533411,Bus,['15221'],2576884,37.22698,-76.52173,Barham Blvd at Yorktown Square,0,POINT (-76.52173 37.22698)
36475,4.44192,2111.854439,1,2,51199050500,51199050500,51199050500,51199050500,2.197081,2.446495,...,1,1.533411,Bus,['15221'],2576883,37.23428,-76.53746,Old Williamsburg Rd at Woods of Yorktown,0,POINT (-76.53746 37.23428)

In [32]:
stops.columns

Index(['id', 'CFLD_AFREQ', 'CFLD_EALB', 'CFLD_damage_quantile',
       'CFLD_freq_quantile', 'GEOID_2010', 'GEOID_2020', 'GEOID_x', 'GEOID_y',
       'SVI_SES', 'SVI_household', 'SVI_housing_transport', 'SVI_race',
       'SVI_total', 'access_to_hospital', 'city', 'feed_name', 'jobs',
       'jobs_cat', 'pct_moderate_plus', 'risk_category', 'risk_score',
       'route_type', 'routes_serviced_str', 'stop_id', 'stop_lat', 'stop_lon',
       'stop_name', 'worker_vulnerability_cat', 'geometry'],
      dtype='object')

In [54]:
essential_cols = ["stop_id", "stop_name", "route_type", "risk_category", "routes_serviced_str", "jobs_cat", "worker_vulnerability_cat", "access_to_hospital", "geometry"]

In [86]:
stops[essential_cols].drop_duplicates()

,stop_id,stop_name,route_type,risk_category,routes_serviced_str,jobs_cat,worker_vulnerability_cat,access_to_hospital,geometry
0,404028,BROADWAY/W 219 ST,Bus,0,"['M100', 'BX7', 'BX20']",1,2,2,POINT (-73.91314 40.87195)
1,404028,BROADWAY/W 219 ST,Bus,0,['BXM1'],1,2,2,POINT (-73.91314 40.87195)
8,404028,BROADWAY/W 219 ST,Bus,2,"['M100', 'BX7', 'BX20']",1,2,2,POINT (-73.91309 40.87177)
9,404028,BROADWAY/W 219 ST,Bus,2,['BXM1'],1,2,2,POINT (-73.91309 40.87177)
16,404270,BROADWAY/W 220 ST,Bus,0,['M100'],1,2,2,POINT (-73.91256 40.87245)
...,...,...,...,...,...,...,...,...,...
36471,2576874,Old Williamsburg Rd at Rising Sun OB,Bus,1,['15221'],0,0,0,POINT (-76.54599 37.23274)
36472,2576873,Old Williamsburg Rd at Woods of Yorktown,Bus,1,['15221'],0,0,0,POINT (-76.53737 37.23425)
36473,2576885,Barham Blvd at Rivermeade,Bus,1,['15221'],0,0,0,POINT (-76.51867 37.22678)
36474,2576884,Barham Blvd at Yorktown Square,Bus,1,['15221'],0,0,0,POINT (-76.52173 37.22698)
36475,2576883,Old Williamsburg Rd at Woods of Yorktown,Bus,1,['15221'],0,0,0,POINT (-76.53746 37.23428)

In [68]:
mn_stops = ps.make_stops("/home/data/transit_feed_data/mta_feeds/google_transit_bronx")

In [69]:
mn_stops.query("stop_id == '404028'").

,stop_id,route_type,stop_name,stop_lat,stop_lon,geometry,routes_serviced,routes_serviced_str,feed_name
0,404028,Bus,BROADWAY/W 219 ST,40.871953,-73.913137,POINT (-73.91314 40.87195),"[M100, BX7, BX20]","['M100', 'BX7', 'BX20']",google_transit_bronx

In [71]:
nyc_stops = ps.process_feeds(["/home/data/transit_feed_data/mta_feeds/"], "nyc")

Processing feed: /home/data/transit_feed_data/mta_feeds/google_transit_bronx
Processing feed: /home/data/transit_feed_data/mta_feeds/google_transit_brooklyn
Processing feed: /home/data/transit_feed_data/mta_feeds/google_transit_queens
Processing feed: /home/data/transit_feed_data/mta_feeds/google_transit_manhattan
Processing feed: /home/data/transit_feed_data/mta_feeds/google_transit_staten_island
Processing feed: /home/data/transit_feed_data/mta_feeds/mta_subway
Processing feed: /home/data/transit_feed_data/mta_feeds/bus_company

In [92]:
nyc_stops.drop("routes_serviced", 1).drop_duplicates()

/home/canyon/.local/share/virtualenvs/TOP-Sprint-lAvM2-mU/lib64/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,stop_id,route_type,stop_name,stop_lat,stop_lon,routes_serviced_str,feed_name,GEOID_2010,GEOID_2020,geometry,city
0,404028,Bus,BROADWAY/W 219 ST,40.871953,-73.913137,"['M100', 'BX7', 'BX20']",google_transit_bronx,36061029700,36061029700,POINT (-73.91314 40.87195),n
1,404270,Bus,BROADWAY/W 220 ST,40.872450,-73.912560,['M100'],google_transit_bronx,36061029700,36061029700,POINT (-73.91256 40.87245),n
2,403485,Bus,BROADWAY/W 220 ST,40.872453,-73.912660,"['BX7', 'BX20']",google_transit_bronx,36061029700,36061029700,POINT (-73.91266 40.87245),n
3,405435,Bus,10 AV/W 214 ST,40.869019,-73.915699,['M100'],google_transit_bronx,36061030300,36061030300,POINT (-73.91570 40.86902),n
4,405436,Bus,10 AV/W 211 ST,40.867070,-73.917052,['M100'],google_transit_bronx,36061030300,36061030300,POINT (-73.91705 40.86707),n
...,...,...,...,...,...,...,...,...,...,...,...
16979,350112,Bus,FILLMORE AV / E 32 ST,40.609613,-73.935788,['B100'],bus_company,36047063600,36047063600,POINT (-73.93579 40.60961),n
16980,983012,Bus,E 16 ST / KINGS HWY,40.608935,-73.957405,['B100'],bus_company,36047055200,36047055200,POINT (-73.95740 40.60894),n
16981,300788,Bus,E 16 ST / KINGS HWY,40.608438,-73.957361,['B100'],bus_company,36047055200,36047055200,POINT (-73.95736 40.60844),n
16982,350159,Bus,QUENTIN RD / BEDFORD AV,40.609303,-73.948122,['B100'],bus_company,36047054800,36047054800,POINT (-73.94812 40.60930),n
16983,350114,Bus,FILLMORE AV / E 34 ST,40.610520,-73.934400,['B100'],bus_company,36047065800,36047065800,POINT (-73.93440 40.61052),n

In [75]:
stops_raw = geopd.read_file("/home/data/results/GTFS_stops_processed.geojson")

In [76]:
stops_raw

,id,GEOID_2010,GEOID_2020,city,feed_name,route_type,routes_serviced_str,stop_id,stop_lat,stop_lon,stop_name,geometry
0,0,36061029700,36061029700,NYC,google_transit_bronx,Bus,"['M100', 'BX7', 'BX20']",404028,40.871953,-73.913137,BROADWAY/W 219 ST,POINT (-73.91314 40.87195)
1,1,36061029700,36061029700,NYC,google_transit_bronx,Bus,['M100'],404270,40.872450,-73.912560,BROADWAY/W 220 ST,POINT (-73.91256 40.87245)
2,2,36061029700,36061029700,NYC,google_transit_bronx,Bus,"['BX7', 'BX20']",403485,40.872453,-73.912660,BROADWAY/W 220 ST,POINT (-73.91266 40.87245)
3,3,36061030300,36061030300,NYC,google_transit_bronx,Bus,['M100'],405435,40.869019,-73.915699,10 AV/W 214 ST,POINT (-73.91570 40.86902)
4,4,36061030300,36061030300,NYC,google_transit_bronx,Bus,['M100'],405436,40.867070,-73.917052,10 AV/W 211 ST,POINT (-73.91705 40.86707)
...,...,...,...,...,...,...,...,...,...,...,...,...
19974,19974,51199050500,51199050500,Hampton Roads,williamsburg,Bus,['15221'],2576874,37.23274,-76.54599,Old Williamsburg Rd at Rising Sun OB,POINT (-76.54599 37.23274)
19975,19975,51199050500,51199050500,Hampton Roads,williamsburg,Bus,['15221'],2576873,37.23425,-76.53737,Old Williamsburg Rd at Woods of Yorktown,POINT (-76.53737 37.23425)
19976,19976,51199050500,51199050500,Hampton Roads,williamsburg,Bus,['15221'],2576885,37.22678,-76.51867,Barham Blvd at Rivermeade,POINT (-76.51867 37.22678)
19977,19977,51199050500,51199050500,Hampton Roads,williamsburg,Bus,['15221'],2576884,37.22698,-76.52173,Barham Blvd at Yorktown Square,POINT (-76.52173 37.22698)
19978,19978,51199050500,51199050500,Hampton Roads,williamsburg,Bus,['15221'],2576883,37.23428,-76.53746,Old Williamsburg Rd at Woods of Yorktown,POINT (-76.53746 37.23428)